html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}




html{
    margin: 0px;
    padding: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #F7F9FC;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

header{
    margin: 0px;
    padding: 10px;
}

main{
    min-width: 1000px;
    background-color: #ffffff;
    flex: 1;
    padding: 10px;
    width: 100%;
    height: 100%;
    color: #626e76;
}

aside{
    /* red color is just to see the structure for now */
    background-color: red;
    width: 100%;
}


footer{
    margin: 0px;
    padding: 10px;
    color: #efefef;
}

header, footer {
    background-color: #37822b ;
}
/*  */
/*  */
/*  */

/* Light font for dark BG: color: #ffffff; */
/* Dark font for Light BG: color: #626e76; */


header div{
    max-width: 1000px;
    margin: auto;
}
footer div{
    margin: auto;
    max-width: 1400px;
}

header div h1{
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 50px;
}
header div h4{
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

header div nav {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
    
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    /* background-color: rebeccapurple; */
    padding: 10px;
    min-width: 300px
}



nav ul li{
    display: flex;
    width: auto;
    background-color: #7fc681;
    border-radius:  3px;
}

nav ul li:hover {
    background-color: rgb(186, 228, 190);
}

nav ul li a:hover{
    color: white;
}



nav ul li a{
    display: flex;
    padding: 10px;
    margin: auto;
    justify-content: center;
    text-decoration: none;
    width: 70px;
    color: #efefef;
}


p{
    margin: 0px;
}
nav{
    padding: 10px;
}

h1{
    margin: auto;
}

h2{
    margin: 0px;
}
ul{
    margin: 0px;
}

/*  */
/* classes */
/*  */

.navl{
    margin: 0px;
}

.sidebars{
    display: flex;
    flex: 1;
    margin: auto;
    max-width: 1400px;
}

/*  */
/* styling by ids */
/*  */

.home-side{
    display: flex;
    flex: 1;
    margin: auto;
    max-width: 1400px;
}

.image-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image-row img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    flex: 1;
}

.text-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: #92d394;
    border-radius: 8px;
    color: rgb(255, 253, 253);
}


